/*
Theme Name: Balboa Theme
Theme URI: http://creativepickle.com/
Description: Custom Theme for Balboa
Author: CreativePickle
Version: 1.0
Tags: 
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
html, body {
	border:0;
	margin:0;
	padding:0;
}
body {
	font:100%/1.25 arial, helvetica, sans-serif;
}
/***** Common Formatting *****/
 
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-weight:normal;
}
h1 {
	padding:30px 0 25px 0;
	letter-spacing:-1px;
	font:2em arial, helvetica, sans-serif;
}
h2 {
	padding:20px 0;
	letter-spacing:-1px;
	font:1.5em arial, helvetica, sans-serif;
}
h3 {
	font:1em arial, helvetica, sans-serif;
	font-weight:bold;
}
p, ul, ol {
	margin:0;
	padding:0 0 18px 0;
}
ul, ol {
	list-style:none;
	padding:0 0 0 40px;
}
blockquote {
	margin:22px 40px;
	padding:0;
}
small {
	font-size:0.85em;
}
img {
	border:0;
}
sup {
	position:relative;
	bottom:0.3em;
	vertical-align:baseline;
}
sub {
	position:relative;
	bottom:-0.2em;
	vertical-align:baseline;
}
acronym, abbr {
	cursor:help;
	letter-spacing:1px;
	border-bottom:1px dashed;
}
/***** Links *****/
 
a, a:visited {
	text-decoration:none;
}
/***** Forms *****/
 
form {
	margin:0;
	padding:0;
	display:inline;
}
input, select, textarea {
	font:1em arial, helvetica, sans-serif;
}

input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}

textarea {
	line-height:1.25;
}
label {
	cursor:pointer;
}
/***** Tables *****/
 
table {
	border:0;
	margin:0 0 18px 0;
	padding:0;
}
table tr td {
	padding:2px;
}

/************STYLES**********/

html, body, #container {height: 100%; width:100%;}

body > #container {height: auto; min-height: 100%;}

body{
	background:#fff url(images/bg.png) repeat-x 0 0;}

#main {
	width:980px;
	margin:0px auto;
	padding-bottom: 375px;}  /* must be same height as the footer */


/***********GLOBAL STYLES**********/

#right ul{
	list-style:none;
	padding:10px 0 10px 0;
	margin:0;}
	
#right ul li{
	padding:0 0 0 25px;
	min-height:20px;
	background:url(images/bullet.png) no-repeat 0 4px;
	margin:0 0 6px 0;}
	
p{
	padding:0 0 12px 0;}
	
ul li ul{
	padding-bottom:0;}
		
a:active, a:link, a:visited{
	color:#1f7fab;}
	
a:hover{
	color:#f1b560;}


/***********HEADER**********/
#header{
	height:160px;
	position:relative;}
	
img.logo{
	margin:0;
	padding:0;
	position:relative;
	top:45px;}

.top-box{
	width:400px;
	height:20px;
	position:absolute;
	top:0;
	right:0;
	background:none;}
	
div.recovery{
	display:block;
	height:45px;
	width:300px;
	position:absolute;
	top:40px;
	right:10px;
	text-align:right;
	font-family: 'Cabin', sans-serif;
	font-weight:600;
	font-size:16px;
	color:#2f7189;
	text-transform:uppercase;
	}
	
div.recovery span.phone{
	display:block;
	font-size:22px;}
	
ul#menu-top-navigation{
	list-style:none;
	margin:0;
	padding:0;
	float:right;
	text-align:right;
	position:relative;
	top:-1px;}	
	
ul#menu-top-navigation li{
	padding:0 0 0 10px;
	margin:0 0 0 0;
	display:inline-block;
	border-left:1px solid #fff;
	}
	
ul#menu-top-navigation li a{
	font-family: 'Cabin', sans-serif;
	font-weight:600;
	color:#fff;
	display:block;
	
	font-size:14px;
	padding:0 5px 0 20px;
	margin:0 5px 0 0;
	line-height:1;
	}
	
ul#menu-top-navigation li.news a{
	background:url(images/icons/news-sm.png) no-repeat 0 -3px;}
	
ul#menu-top-navigation li.search a{
	background:url(images/icons/search.png) no-repeat 0 -3px;}
	
ul#menu-top-navigation li.locations a{
	background:url(images/icons/locations.png) no-repeat 0 -3px;}
	
ul#menu-top-navigation li:first-child{
	border-left:none;}
	
ul#menu-top-navigation li a:hover{
	color:#dcac62;
	background-position:0 -23px;}

	
/***********NAVIGATION*********/
ul#menu-main-navigation{
	display:inline-block;
	list-style:none;
	padding:0;
	margin:0;
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
	position:absolute;
	right:15px;
	top:100px;
	z-index:50;
	background:#fff;}
	
body.ie6 ul#menu-main-navigation{
	padding:0;}

ul#menu-main-navigation li{
	display:inline-block;
	position:relative;
	padding:0;
	margin:0;
	}
	
body.ie6 ul#menu-main-navigation li{
	display:block;
	float:left;}

ul#menu-main-navigation li a{
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	font-family: 'Cabin', sans-serif;
	text-transform:uppercase;
	padding:10px 0 10px 0;
	margin:0 10px 0 10px;
	display:block;
	font-size:15px;
	font-weight:600;
	color:#262d58;}

body.ie6 ul#menu-main-navigation li a{
	font-size:12px;
	}	

	
ul#menu-main-navigation li a:hover{
	color:#ebb15e;
	padding:10px 0 7px 0;
	border-bottom:3px solid #ebb15e;}
	
ul#menu-main-navigation li.first a{
	margin-left:0;
	}

ul#menu-main-navigation li.last a{
	margin-right:0;
	}
	
	
ul#menu-main-navigation li ul{
	width:250px;
	display:block;
	position:absolute;
	top:40px;
	display:none;
	padding:0;
	margin:0;
	left:10px;
	background:#fff;
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	}
body.ie6 ul#menu-main-navigation li ul{
	top:34px;}
	
ul#menu-main-navigation li.last ul{
	left:-153px;}
	
ul#menu-main-navigation li:first-child ul{left:0;}
	
ul#menu-main-navigation li ul li{
	display:block!important;
	float:none!important;
	padding:0;}
	
ul#menu-main-navigation li ul li a{
	display:block;
	margin:0;
	padding:15px 25px 15px 25px;
	border-bottom:1px solid #c7cacc;
	text-transform:none;
	/**background:url(images/yellow-arrow.png) no-repeat 15px 12px;**/}
	
ul#menu-main-navigation li ul li a:hover{
	border-bottom:1px solid #c7cacc;
	background:#1f7eab;
	padding:15px 25px 15px 25px;
	}
	

	
/***********CONTENT*********/

#content{
	width:980px;
	margin-top:20px;
	padding-bottom:0px;
	font-family: 'Cabin', sans-serif;
	font-size:14px;
	color:#424040;
	
	}
	
#content.subpage{
	padding-bottom:40px;}

#sub-content{
	width:950px;
	position:relative;
	background:#fff url(images/sub-content-bg.png) repeat-y 0 0;
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	margin:0px auto;
	margin-bottom:30px;
	padding-bottom:20px;}
	
body.ie6 #sub-content{
	border:1px solid #424040;}
	
#subpage-banner{
	width:950px;
	height:141px;
	margin:0;
	padding:0;
	border-bottom:1px solid #dadada;}
	
#sub-content:after{
	content:"";
	display:block;
	position:absolute;
	bottom:-180px;
	left:-25px;
	width:1000px;
	height:180px;
	margin:0px auto;
	background:url(images/base-shadow.png) no-repeat 0 0;}
	
ul.subpage-menu{
	
	width:252px;
	list-style:none;
	padding:0!important;
	margin:0 0 30px 0!important;}
	

ul.subpage-menu li{
	background:none!important;
	padding:0!important;
	margin:0!important;}
	
ul.subpage-menu li ul{
	width:252px;
	list-style:none;
	padding:0!important;
	margin:0!important;
	display:none;}
	
ul.subpage-menu li.current_page_item ul{
	display:block;}
	
 ul.subpage-menu li ul li{
	 width:252px;
	 background:none!important;
	padding:0!important;
	margin:0!important;
	 font-style:italic;}
	
ul.subpage-menu li a{
	display:block;
	font-size:16px;
	color:#424040;
	padding:15px;}
	
ul.subpage-menu li ul li a{
	width:252px;
	padding:15px 15px 15px 30px;}

ul.subpage-menu li ul li a:hover, ul.subpage-menu li.current_page_item ul li a:hover{
	background:#f1b560!important;
	color:#fff;}
	
ul.subpage-menu li a:hover{
	background:#f1b560;
	color:#fff;}
	
ul.subpage-menu li.current_page_item a{
	background:#1f7eab;
	color:#fff;}
	

	

	
ul.subpage-menu li.current_page_item ul li a{
	color:#424040;
	background:none;}
	
ul.subpage-menu li.current_page_item ul li a:hover{
	background:#1f7eab;
	color:#fff;}
	
h2.widget-title{
	font-family: 'Josefin Sans', sans-serif;
	font-size:26px;
	text-transform:uppercase;
	letter-spacing:.03em;
	font-weight:700;
	color:#27316d;
	text-align:center;
	border-bottom:3px solid #f1b560;
	}
	
#left{
	width:252px;
	float:left;
	margin-right:0px;
	padding:30px 0 0 0;
	position:relative;}

	
#right{
	width:698px;
	float:left;
	padding:30px 20px 20px 20px;
	line-height:1.5;}
	
body.ie6 #right{
	width:695px;}
	
#right img{
	border:3px solid #fff;
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);}
	
body.ie6 #right img{
	border:3px solid #10475e;}
	
#right ol{
	list-style:lower-alpha;}
	
div.faq{
	margin-bottom:10px;
	}

h2.trigger{
	font-family: 'Cabin', sans-serif;
	font-weight:600;
	text-transform:uppercase;
	color:#1f7eab;
	font-size:18px;
	padding:3px 0 15px 35px;
	background:url(images/plus.png) no-repeat 0 0;}
	
h2.trigger.active{
	background:url(images/minus.png) no-repeat 0 0;}

h2.trigger:hover{
	cursor:pointer;
	color:#77a0c1;
	}

.toggle_container {
	display:block;
	width:658px;
	position: relative;
	margin: 0 0 0px 0;
	padding: 0;
	border-top: 2px solid #f1b868;
	background:none;
	overflow: hidden;
	clear: both;
	padding: 0 0px 0 0;
}
.toggle_container .block {
	position: relative;
	overflow: hidden;
	width:658px;
	padding: 20px 0px 0 0; /*--Padding of Container--*/
	 /*--Bottom rounded corners--*/
}	

ul.alphabet{
	list-style:none;
	margin:0!important;
	padding:10px 0 10px 0!important;}
	
ul.alphabet li{
	background:none!important;
	margin:0!important;
	display:inline;
	padding:0 9px 0 0!important;
	font-size:16px;}
	
div.term{
	margin-bottom:12px;}
	
span.term{
	font-weight:600;
	text-transform:uppercase;
	margin-right:5px;}
	
a.back-top{
	text-transform:uppercase;
	font-weight:600;}
	
div.back-top{
	margin:10px 0 10px 0;}

#footer {
	width:100%;
	background:url(images/footer-bg.png) repeat-x 0 0;
	position: relative;
	margin-top: -375px; /* negative value of footer height */
	height: 375px;
	clear:both;} 
	
.footer-content{
	position:relative;
	height:375px;
	width:980px;
	margin:0px auto;}
	
body.safari #footer{
	min-width:1000px;}
	
ul#menu-footer-navigation{
	list-style:none;
	margin:0;
	padding:0 0 5px 0;}

ul#menu-footer-navigation li{
	display:inline;
	padding:0 15px 0 15px;
	border-left:1px solid #424040;}
	
ul#menu-footer-navigation li:first-child{
	border-left:none;}

ul#menu-footer-navigation li a{}

ul#menu-social-navigation{
	position:absolute;
	right:0;
	top:10px;
	list-style:none;
	margin:0;
	padding:0;}

ul#menu-social-navigation li{
	vertical-align:top;
	display:inline-block;
	position:relative;
	padding:0;
	marfin:0;}

ul#menu-social-navigation li a{
	display:block;
	width:56px;
	height:56px;
	position:relative;
	text-align:left;
	text-indent:-9999px;}
	
ul#menu-social-navigation li.facebook a{
	background:url(images/social/facebook.png) no-repeat top center;}
	
ul#menu-social-navigation li.twitter a{
	background:url(images/social/twitter.png) no-repeat top center;}
	
ul#menu-social-navigation li.youtube a{
	background:url(images/social/youtube.png) no-repeat top center;}
	
ul#menu-social-navigation li.st_sharethis_large{
	height:56px!important;}

ul#menu-social-navigation li.st_sharethis_large a{
	background:url(images/social/sharethis.png) no-repeat top center!important;}
	
.stButton{
	font-size: 11px;
    line-height: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
    position: relative;
	background:none!important;
	height:0!important;
	padding:0!important;
	}
	
.stLarge{
	height:0!important;
	background:none!important;}

.stLarge img{
	height:0px!important;
	width:0px!important;
	display:none!important;}
	
#copyright{
	width:980px;
	position:absolute;
	bottom:10px;
	text-align:center;
	font-family: 'Cabin', sans-serif;
	font-size:14px;
	color:#424040;
	}
	
.footer-content h1{
	color:#f1b560;
	font-family: 'Josefin Sans', sans-serif;
	font-size:32px;
	text-transform:uppercase;
	letter-spacing:.03em;
	font-weight:700;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
	padding-bottom:4px;}
	
#footer-left{
	width:335px;
	float:left;
	padding-top:70px;}
	
#footer-right{
	width:520px;
	float:left;
	margin-left:125px;
	padding-top:70px;}
	
#form_left{
	width:250px;
	float:left;
	margin-right:5px;
	}
	
#form_right{
	width:250px;
	float:left;}
	
#gform_wrapper_1.gform_wrapper{
	margin-top:0!important;}

#gform_wrapper_1.gform_wrapper input[type="text"], #gform_wrapper_1.gform_wrapper input[type="url"], #gform_wrapper_1.gform_wrapper input[type="email"], #gform_wrapper_1.gform_wrapper input[type="tel"], #gform_wrapper_1.gform_wrapper input[type="number"], #gform_wrapper_1.gform_wrapper input[type="password"]{
	background:#10475e;
	color:#fff;
	border:none;
	-moz-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
	padding:7px 7px 7px 35px!important;
	font-family: 'Cabin', sans-serif;
	font-style:italic;
	font-size:14px;
	}
	
#gform_wrapper_1.gform_wrapper textarea{
	background:#10475e url(images/icons/form-notes.png) no-repeat 6px 6px!important;
	color:#fff;
	border:none;
	-moz-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
	font-family: 'Cabin', sans-serif;
	font-style:italic;
	font-size:14px;
	padding:7px 7px 7px 30px!important;
	height:71px;
	}
	
#gform_wrapper_1.gform_wrapper li, #gform_wrapper_1.gform_wrapper form li{
	margin-bottom:8px!important;
	padding-left:0!important;}

#gform_wrapper_1.gform_wrapper .top_label .gfield_label{
	display:none;}
	
#input_1_1{
	background:#10475e url(images/icons/form-name.png) no-repeat 4px 6px!important;}
	
#input_1_2{
	background:#10475e url(images/icons/form-email.png) no-repeat 4px 7px!important;}
	
#input_1_5{
	background:#10475e url(images/icons/form-phone.png) no-repeat 7px 4px!important;}

#input_1_9{
	background:#10475e url(images/icons/form-questions.png) no-repeat 7px 6px!important;
	}
	
#gform_wrapper_1.gform_wrapper .gform_footer{
	margin-top:5px!important;
	text-align:right;
	padding-right:5px;
	padding-top:0;}
	
#gform_wrapper_1.gform_wrapper li.gfield.gfield_error, #gform_wrapper_1.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
	padding:0 0 0 0!important;
	background:none;
	border:none;}
	
#gform_wrapper_1.gform_wrapper .top_label .gfield_error{
	width:100%!important;}
	
#gform_wrapper_1..gform_wrapper .top_label .gfield_error .ginput_container{
	max-width:100%!important;}
	
#gform_wrapper_1.gform_wrapper li.gfield.gfield_error .gfield_description, #gform_wrapper_1.gform_wrapper .validation_message{
	display:none;}
	
#gform_wrapper_1.gform_wrapper .validation_error{
	color:#f1b560;
	font-family: 'Cabin', sans-serif;
	font-style:italic;
	font-size:14px;}
	
#gform_wrapper_1.gform_wrapper .top_label .gfield_error input{
	border:1px solid #f1b560;
	color:#f1b560;
	padding:6px 7px 6px 35px;}
	
#gforms_confirmation_message.gform_confirmation_message_1{
	font-family: 'Cabin', sans-serif;
	font-style:italic;
	font-size:14px;
	padding:15px;
	background:#cbc6ae;
	border:2px solid #fff;
	color:#424040;
	-moz-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
	margin-top:0!important;
	}
	
div.testimonial.footer{
	padding:15px 0 0 0;
	position:relative;
	font-family: 'Cabin', sans-serif;
	font-style:italic;
	font-size:15px;
	line-height:1.6;
	color:#fff; 
	}
	
div.testimonial.footer a.excerpt-link{
	display:none;}
	
div.testimonial.footer:before{
	content:"";
	display:block;
	background:url(images/open-quote.png) no-repeat 0 0;
	width:50px;
	height:40px;
	position:absolute;
	top:-5px;
	left:-50px;}
	
div.testimonial.footer:after{
	content:"";
	display:block;
	background:url(images/close-quote.png) no-repeat 0 0;
	width:50px;
	height:40px;
	position:absolute;
	bottom:-5px;
	right:-30px;}
	
ul.staff-page{
	list-style:none;
	padding:10px 0 10px 0!important;
	margin:0!important;
	width:690px;
	}
	
ul.staff-page li{
	position:relative;
	display:inline-block;
	margin:0 28px 28px 0!important;
	background:none!important;
	padding:0!important;
	text-align:center;
	width:140px;
	vertical-align:top;}
	
ul.staff-page li h2.blogtitle{
	font-size:14px!important;}
	
ul.staff-page li h3.date{
	font-size:13px!important;
	text-transform:none;}
	
a.block{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:25;}
	
ul.staff-page li div.fader{
	position:absolute;
	display:none;
	top:3px;
	left:3px;
	z-index:20;
	width:134px;
	height:170px;
	display:none;
	background:url(images/white.png) repeat 0 0;
	color:#27326c;
	font-family: 'Cabin', sans-serif;
	font-size:14px;
	font-style:normal;
	text-transform:none;
	padding:45px 10px 30px 10px;}
	
ul.staff-page li h3.date{
	padding-top:0px!important;}
	
ul.documents{
	list-style:none;
	padding:10px 0 10px 0!important;
	margin:0!important;}
	
ul.documents li{
	background:none!important;
	margin:0!important;
	display:block;
	position:relative;
	min-height:45px!important;
	color:#1f7fab;
	background:url(images/pdf.png) no-repeat 0 0!important;
	padding:10px 0 0 55px!important;
	font-family: 'Cabin', sans-serif;
	font-size:20px;
	font-style:italic;}

ul.documents li:hover{
	color:#f1b560;}
	
div.testimonial.page{
	/**background:#9ac8de;
	padding:15px;
	border:2px solid #fff;
	margin-bottom:30px;
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);**/
	font-style:italic;
	padding-bottom:30px;
	margin-bottom:30px;
	border-bottom:1px solid #f1b560;}
	
cite{
	text-align:left;
	display:block;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
	font-family: 'Josefin Sans', sans-serif;}
	

/**************SelectBox************/
.selectBox-dropdown {
width: 99%; /* width = (desired width) - padding-right */
padding:4px 40px 1px 30px;
position: relative;
border: none;

text-decoration: none;
color: #fff;
outline: none;
vertical-align: middle;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
background:#10475e url(images/icons/form-questions.png) no-repeat 7px 6px!important;
font-family: 'Cabin', sans-serif;
	font-style:italic;
	font-size:14px;
display: inline-block;
cursor: default;
-moz-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
}

#content .selectBox-dropdown{
	background: #fff;
	color:#666;
	
}

.selectBox-dropdown a:hover{
	color:#fff;}

.selectBox-dropdown:hover{
	cursor:pointer;}

.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
}

.selectBox-dropdown.selectBox-menuShowing {
-moz-border-radius-bottomleft: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-bottom-left-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
}

.selectBox-dropdown .selectBox-label {
width: 100%;
padding: .2em .3em;
display: inline-block;
white-space: nowrap;
overflow: hidden;
color:#fff!important;
font-style:italic;
}

.selectBox-dropdown .selectBox-arrow {
position: absolute;
top: 0;
right: 0;
width: 20px;
height: 100%;
background: url(images/icons/form-arrow.png) 50% center no-repeat;
}

#content .selectBox-dropdown .selectBox-arrow {
position: absolute;
top: 0;
right: 0;
width: 40px;
height: 100%;
background: url(images/select-dark.png) 50% center no-repeat;
}

.selectBox-dropdown a:hover{
	color:#FFF!important;}

/* Dropdown menu */
.selectBox-dropdown-menu {
position: absolute;
z-index: 99999;
max-height: 200px;
border: none; /* should be the same border width as .selectBox-dropdown */
background: #819fab;

font-family: 'Cabin', sans-serif;
	font-style:italic;
	font-size:14px;
overflow: auto;
color:#424040;
font-size:13px;

}




/* Inline control */
.selectBox-inline {
width: 250px;
outline: none;
border: solid 1px #BBB;
background: #FFF;
display: inline-block;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
overflow: auto;
}

.selectBox-inline:focus {
border-color: #6f6f6f;
}


/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
list-style: none;
display: block;
cursor: default;
padding: 0;
margin: 0;
color:#fff;
}

.selectBox-options LI A {
line-height: 1.5;
padding: 0 .5em;
white-space: nowrap;
overflow: hidden;
background: 6px center no-repeat;
color:#fff;
}

.selectBox-options LI.selectBox-hover A {
background-color: #1f7eab;
color:#fff;

}

.selectBox-options LI.selectBox-disabled A {
color: #f8f8f8!important;
background-color: transparent;
}

.selectBox-options LI.selectBox-selected A {
background-color:#eeede7;
color:#bfbaba!important;
}

.selectBox-options .selectBox-optgroup {
color: #666;
background: #EEE;
font-weight: bold;
line-height: 1.5;
padding: 0 .3em;
white-space: nowrap;
}


/* Disabled state */
.selectBox.selectBox-disabled {
color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
opacity: .5;
filter: alpha(opacity=50);
border-color: #666;
}

.selectBox-inline.selectBox-disabled {
color: #e4e4e4 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options A {
background-color: transparent !important;
}

/**********FORMS************/

.gform_wrapper{
	margin-top:0!important;}

.gform_wrapper input[type="text"], .gform_wrapper input[type="url"], .gform_wrapper input[type="email"], .gform_wrapper input[type="tel"], .gform_wrapper input[type="number"], .gform_wrapper input[type="password"], input.search{
	background:#c6dce6;
	color:#3c316d;
	border:none;
	-moz-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
	padding:7px!important;
	font-family: 'Cabin', sans-serif;
	font-style:italic;
	font-size:14px!important;
	}
	
.gform_wrapper textarea{
	background:#c6dce6;
	color:#3c316d;
	border:none;
	-moz-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
	font-family: 'Cabin', sans-serif;
	font-style:italic;
	font-size:14px!important;
	padding:7px!important;
	}
	
.gform_wrapper li, .gform_wrapper form li{
	margin-bottom:0px!important;
	padding-left:0!important;
	background:none!important;}

.gform_wrapper .top_label .gfield_label{
	color:#3c316d;
	font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	text-transform:uppercase;
	}

	
.gform_wrapper .gform_footer{
	margin-top:5px!important;
	text-align:right;
	padding-right:5px;
	padding-top:0;}
	
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
	padding:0 0 0 0!important;
	background:none!important;
	border:none;}
	
.gform_wrapper .top_label .gfield_error{
	width:100%!important;}
	
.gform_wrapper .top_label .gfield_error .ginput_container{
	max-width:100%!important;}
	
.gform_wrapper li.gfield.gfield_error .gfield_description, .gform_wrapper .validation_message{
	display:none;}
	
.gform_wrapper .validation_error{
	color:#f1b560;
	font-family: 'Cabin', sans-serif;
	font-style:italic;
	font-size:14px;}
	
.gform_wrapper .top_label .gfield_error input{
	border:1px solid #f1b560;
	color:#f1b560;
	padding:6px 7px 6px 35px;}
	
.gform_confirmation_message_1{
	font-family: 'Cabin', sans-serif;
	font-style:italic;
	font-size:14px;
	padding:15px;
	background:#cbc6ae;
	border:2px solid #fff;
	color:#424040;
	-moz-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
	margin-top:0!important;
	}
	
.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label{
	text-transform:none;
	font-family: 'Cabin', sans-serif;
	font-size:14px;}
	
ul.sitemap li{
	font-family: 'Cabin', sans-serif;
	font-size:18px;
	}
	
#blockquote{
	font-family: 'Josefin Sans', sans-serif;
	text-transform:uppercase;
	font-size:20px;
	color:#27316d;
	font-weight:700;
	width:250px;}

#blockquote.left{
	float:left;
	text-align:right;
	border-right:3px solid #f1b560;
	padding:0 15px 0 0;
	margin:0 15px 10px 0; }
	
#blockquote.right{
	float:right;
	text-align:left;
	border-left:3px solid #f1b560;
	padding:0 0 0 15px;
	margin:0 0 10px 15px; }

#blockquote.center{
	width:658px;
	padding:15px 0 15px 0;
	margin:15px 0 20px 0;
	text-align:center;
	border-top:3px solid #f1b560;
	border-bottom:3px solid #f1b560;}

/***********BANNER ROTATOR**********/

#banner{
	margin:20px 0 0px 0;
	position:relative;
	}
	
ul#rotator{
	position:relative;
	width:960px;
	height:500px;
	margin:0px auto;
	list-style:none;
	padding:0;
	-moz-box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
  	box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
	background:#fff;}
	
ul#rotator li{
	width:950px;
	height:490px;
	position:relative;
	top:5px;
	left:5px;
	padding:70px 10px 30px 440px;}
	
ul#rotator li div.banner-content{
	font-family: 'Cabin', sans-serif;
	position:relative;
	display:none;
	font-size:16px;
	color:#2d2c2c;}
	
ul#rotator li div.banner-content.light{
	color:#fff;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.5);}
	
ul#rotator li:first-child div.banner-content{}
	
div.banner-content h1{
	color:#27316d;
	text-transform:uppercase;
	font-family: 'Josefin Sans', sans-serif;
	font-size:45px;
	font-weight:700;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.5);}

div.banner-content.light h1{
	color:#cbc6ae;}
	
div.banner-content a.button{
	background:url(images/white.png) repeat 0 0;
	}
	
div.banner-content a.button:hover{
	background:none!important;
	color:#fff!important;}
	
ul#rotator li div.swoop{
	position:absolute;
	display:block;
	top:0;
	right:0;
	width:395px;
	height:490px;
	background:url(images/swoop.png) no-repeat 0 0;}
	

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
  
ul#rotator li:first-child div.banner-content{
	display:block;
	left:-50px;}

.rslides img {

  }
  
a.rslides_nav{
	position:absolute;
	 display:block;
	 width:30px;
	 height:40px;
	 text-align:left;
	 text-indent:-9999px;
	 z-index:100;
	 top:225px;
	 opacity:0;}
	 
a.rslides_nav.prev{
	background:url(images/prev.png) no-repeat 0 0;
	left:25px;}
	
a.rslides_nav.next{
	background:url(images/next.png) no-repeat 0 0;
	right:25px;}
	
a.rslides_nav:hover{opacity:1!important;}

ul.rslides1_tabs{
	list-style:none;
	padding:0;
	margin:0;
	position:absolute;
	z-index:100;
	top:350px;
	left:50px;}
	
ul.rslides1_tabs li{
	display:inline-block;
	margin-right:0;
	padding:0;
	}
	
ul.rslides1_tabs li a{
	display:block;
	height:16px;
	width:16px;
	background:url(images/circle-nav.png) no-repeat 0 0;
	text-align:left;
	text-indent:-9999px;}
	
ul.rslides_tabs li a:hover, ul.rslides_tabs li.rslides_here a{
	background-position:0 -16px;}
	
#banner-navigation{
	width:890px;
	background:#FFF;
	height:230px;
	position:relative;
	z-index:90;
	top:-100px;
	margin:0px auto;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
  	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
  	box-shadow: 0px 0px 3px rgba(0,0,0,0.7);}
	
#banner-navigation:after{
	content:"";
	display:block;
	position:relative;
	top:11px;
	left:-55px;
	width:1000px;
	height:210px;
	margin:0px auto;
	background:url(images/base-shadow.png) no-repeat 0 0;}
	
ul#menu-program-navigation{
	list-style:none;
	padding:0;
	margin:0;
	width:890px;
	height:220px;
	position:relative;
	top:5px;
	left:5px;
	}
	
ul#menu-program-navigation li{
	display:inline-block;
	vertical-align:top;
	width:171px;
	height:220px;
	padding:0;
	background:#eeede7;
	margin-right:2px;
	text-align:center;}
	
ul#menu-program-navigation li p{
	padding:15px;
	font-family: 'Cabin', sans-serif;
	font-size:13px;
	color:#424040;
	font-weight:400!important;}
	
ul#menu-program-navigation li:first-child, ul.banner-nav li:last-child{
	width:175px;}

ul#menu-program-navigation li a.excerpt-link{
	display:none;}
	
ul#menu-program-navigation li h1{
	width:100%;
	font-weight:700;
	padding:10px;
	font-family: 'Josefin Sans', sans-serif;
	color:#fff;
	text-transform:uppercase;
	font-size:24px;}
	
ul#menu-program-navigation li h1 span.lowercase{
	font-family: 'Cabin', sans-serif;
	font-size:19px;
	font-weight:400!important;
	letter-spacing:.02em;
	text-transform:lowercase;
	display:inline;
	padding:0 0 0 0;
	margin:0 6px 0 0;
	position:relative;
	line-height:12px!important;
	top:-3px;
	border-bottom:1px solid #fff;
	font-style:italic;}
	
ul#menu-program-navigation li.for-women h1{
	background:#ec5635;
	}
	
ul#menu-program-navigation li.for-men h1{
	background:#f1b560;
	}
	
ul#menu-program-navigation li.for-students h1{
	background:#292a65;
	}
	
ul#menu-program-navigation li.for-families h1{
	background:#1f7eab;
	}
	
ul#menu-program-navigation li.for-alumni  h1{
	background:#cbc6ae;
	}
	
/************ACTION AREAS**********/

#action{
	font-family: 'Cabin', sans-serif;
	font-size:13px;
	line-height:1.5;
	position:relative;
	top:-25px;
	color:#424040;
	z-index:1000;}

#action-left{
	width:550px;
	float:left;
	margin-right:60px;
	margin-left:50px;}

#action-right{
	width:270px;
	float:left;
	text-align:center;}
	
ul.staff-rotator{
	list-style:none;
	position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  min-height:400px;
}
	
div.staff-thumb{
	padding-top:10px;
	margin-bottom:8px;}
	
ul.staff-rotator li{
	padding:0;
	margin:0;
	  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  min-height:420px;}

ul.staff-rotator li:first-child {
  position: relative;
  display: block;
  float: left;
  }
  
 #staff-wrap{
	 position:relative;}
  
 a.rslides2_nav{
	position:absolute;
	 display:block;
	 width:30px;
	 height:40px;
	 text-align:left;
	 text-indent:-9999px;
	 z-index:100;
	 top:60px;
	 opacity:0;}
	 
a.rslides2_nav.prev{
	background:url(images/prev-blue.png) no-repeat 0 0;
	left:10px;}
	
a.rslides2_nav.next{
	background:url(images/next-blue.png) no-repeat 0 0;
	right:10px;}
	
a#opiates{
	position:relative;
	width:100%;
	display:block;
	border:3px solid #fff;
	background:#dcac63;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
  	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
  	box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
	padding:15px 80px 15px 15px;
	color:#fff;
	text-transform:uppercase;
	margin-bottom:25px;
	font-size:30px;
	line-height:1.2;
	text-align:left;}
	
a#opiates:hover{
	background:#1e7296;}
	
a#opiates:after{
	content:"";
	display:block;
	width:50px;
	height:67px;
	background:url(images/arrow-lg.png) no-repeat 0 0;
	position:absolute;
	top:15px;
	right:15px;
	}
	
a#opiates span.lowercase{
	font-style:italic;
	text-transform:lowercase;}
	
/***********HEADER STYLES***********/

h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	padding:0 0 12px 0;
	color:#999;}
	
h1.blogtitle{
	font-size:32px;
	padding:0 0 12px 0;}
	
h1.pagetitle{
	font-family: 'Josefin Sans', sans-serif;
	font-size:40px;
	text-transform:uppercase;
	letter-spacing:.03em;
	font-weight:700;
	color:#27316d;}
	
h2{
	color:#1f7eab;
	font-family: 'Cabin', sans-serif;
	font-size:24px;
	letter-spacing:.02em;
	padding:0 0 12px 0;
	font-weight:600;}
	
h3{
	font-family: 'Cabin', sans-serif;
	font-weight:600;
	text-transform:uppercase;
	color:#f1b560;
	font-size:16px;
	padding:0 0 8px 0;}
	
h3.date{
	font-style:italic;
	color:#424040;
	font-weight:normal;
	font-size:15px;}
	
h2.action{
	font-family: 'Josefin Sans', sans-serif;
	color:#262d58;
	text-transform:uppercase;
	font-size:32px;
	border-bottom:3px solid #ebb15e;
	text-align:left;
	font-weight:700;
	padding:6px 0 5px 45px;
	margin-bottom:15px;}
	
body.ie6 h2.action{
	font-size:28px;}
	
h2.action.news{
	background:url(images/icons/news.png) no-repeat 0 -2px;
	padding-left:50px;
	margin-bottom:25px;}
	
h2.action.staff{
	background:url(images/icons/staff.png) no-repeat 0 -3px;
	padding-left:90px;}
	
h2.blogtitle{
	color:#1f7eab;
	font-family: 'Cabin', sans-serif;
	font-size:30px;
	letter-spacing:.02em;
	padding:0 0 5px 0;
	font-weight:600;}
	
body.ie6 h2.blogtitle{
	font-size:24px;}
	
h2.blogtitle.small{
	font-size:20px;}
	
body.ie6 h2.blogtitle.small{
	font-size:16px;}
	
/***********BLOG STYLES************/

div.blogitem{
	margin-bottom:30px;}
	
#right div.blogitem a.excerpt-link{
	display:none;}
	

	
#right h3.date{
	padding:8px 0 15px 0;}
	
div.blog-thumb{
	width:170px;
	float:left;
	margin-right:20px;}
	
#action img, #left img{
	border:5px solid #fff;
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.7);
  	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.7);
  	box-shadow: 0px 0px 7px rgba(0,0,0,0.7);}

div.blog-content{
	width:360px;
	float:left;}
	
a.excerpt-link{
	font-family: 'Cabin', sans-serif;
	font-weight:600;
	text-transform:uppercase;
	color:#ec5635;
	font-size:14px;}
	
a.excerpt-link:hover{
	color:#fec771;}
	
#commentform label{
	display:inline;}

	
#commentform input[type=text], #commentform textarea{
	display:block;
	background:#fff;
	color:#666;
	padding:5px;
	font-size:14px;
	border:1px solid #999;
	width:500px;
  	margin-top:8px;
	}
  
 #commentform input[type=text]:focus, #commentform textarea:focus{
	color:#fbfbfb;
	background:#fff;
	border:1px solid #999;}
	
ol.commentlist{
	list-style:none;
	padding:10px 0 0 0;}
	
ol.commentlist li{
	padding-bottom:15px;}
	
ol.commentlist li ul{
	list-style:none;
	background:none;
	padding:0 0 0 25px;}
	
ol.commentlist li ul li{
	background:none;
	padding:15px 0 0 0;}
	
div.reply a{
	display:block;
	background:#fff;
	color:#666;
	border:1px solid #999;
	padding:10px;
	text-align:center;
	margin-top:5px;
	}

div.reply a:hover{
	background-position:0 -25px;}
	
div.commentmetadata{
	font-size:13px;
	font-style:italic;}
	
ol.commentlist cite{
  font-size:14px;
  color:#666;
  text-transform:uppercase;
  padding:0 0 0 0;
  font-weight:bold;
  font-style:normal;}
  
 div.comment-body p{
	 padding-bottom:6px;
	 }
	

	
/***********WIDGET STYLES**********/

#searchform input[type=text]{
	padding:2px;
	font-size:13px;
	color:#30464d;
	width:250px;
	}
	
div.widget{
	margin-bottom:30px;
	}
	
div.widget ul{
	list-style:disc;
	padding:15px 0 15px 30px;
	margin:0;}
	
div.widget ul li{
	font-size:15px;
	padding:0 15px 0 0px;
	margin:0 0 10px 0;}
	
/***********BUTTON STYLES**********/

input[type=submit]{
	display:inline-block;
	text-align:center;
	background:transparent;
	color:#27316d;
	padding:5px 10px 5px 10px;
	text-transform:uppercase;
	font-family: 'Cabin', sans-serif;
	font-size:17px;
	line-height:1.4;
	font-weight:600;
	border:2px solid #fff;
	border-radius:2px;
	-moz-border-radius:2px;
	position:relative;
	-moz-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
  	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
  	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);}
	
input[type=submit]:hover{
	cursor:pointer;
	background:url(images/white.png) repeat 0 0;
	}
	
#footer input[type=submit]{
	color:#fff;}
	
#footer input[type=submit]:hover{
	color:#27316d;}
	
a.button{
	display:inline-block;
	text-align:left;
	background:transparent;
	color:#27316d;
	padding:4px 5px 5px 10px;
	text-transform:uppercase;
	font-family: 'Cabin', sans-serif;
	font-size:17px;
	line-height:1.4;
	font-weight:600;
	border:2px solid #fff;
	border-radius:2px;
	-moz-border-radius:2px;
	position:relative;
	-moz-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
  	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
  	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
	}
	
a.button:hover{
	background:url(images/white.png) repeat 0 0;
	}
	
#footer a.button{
	color:#fff;}
	
#footer a.button:hover{
	color:#27316d;}
	
#right a.button:hover, #right input[type=submit]:hover{
	background:#f1b560;}
	
a.button:after, span.arrow{
	content:"";
	background:url(images/yellow-arrow.png) no-repeat 8px -3px;
	display:inline-block;
	vertical-align:middle;
	width:15px;
	height:20px;
	padding-left:8px;}
	
/*************GALLERY AND IMAGE STYLES*********/

div.gallery{
	padding:0 0 0 0;
	position:relative;
	left:-10px;
	width:680px;
	text-align:left;}
	
.gallery dl{
	padding:0;
	background:none;
	}

dd.gallery-caption{
	display:none;}

.gallery dt.gallery-icon{
	}
	
dl.gallery-item{
	display:inline-block;
	margin:0 0 10px 15px;}
	
dl.gallery-item img:hover{
	border:3px solid #116a8e!important;
	}
	
div.alignleft, img.alignleft{
	float:left;
	margin:0 15px 15px 0;
	}
	
div.alignright, img.alignright{
	float:right;
	margin:0 0 15px 15px;
	}
	
p.wp-caption-text{
	color:#1f7eab;
	font-style:italic;
	font-size:13px;
	padding-bottom:0;}
	
div.wp-caption.aligncenter{
	padding:0 0 12px 0;}
	
/***********SLIDERS AND FADERS*********/

a.slider{
	padding:0;}
	
div.fader{
	position:relative;}
	
/*************SOCIAL BUTTONS***********/

ul.social{
	float:right;
	list-style:none;
	padding:0 0 0 10px;
	margin:0 0 0 5px;
	}
	
ul.social li{
	background:none;
	padding:0;
	margin:0;
	float:left;
	width:28px;
	height:28px;}
	
ul.social li.like{
	width:150px;}
	
ul.social li a{
	display:block;
	height:28px;
	width:28px;
	text-indent:-9999px;}
	
ul.social li.facebook a{
	background:url(images/facebook.png) no-repeat 0 0;
	}
	
ul.social li a:hover{
	background-position:0 -28px;}
	

	
/**************MISCELLANEOUS************/

div.shadow{
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
  	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
  	box-shadow: 0px 0px 3px rgba(0,0,0,0.7);}
	
h1.shadow{
	text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 2px;}		


/* CLEAR FIX*/
.clear{
	clear:both;}
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */